@media (min-width: 1024px) {
    
}


@media (min-width: 740px) and (max-width:1023px) {
    .btn {
        padding: 15px 16px;
    }
    .contact-content .form-control {
        padding: 15px;
    }
    #footer .socials-list {
        font-size: 30px;
    }
    #footer .socials-list a {
        margin: 0 8px;
    }
    #footer .copyright {
        padding: 12px;
        display: block;
    }
    .contact-info {
        line-height: 2;
    }
}

@media (max-width: 739px) {
    .s-full-width,
    .s-col-full {
        width: 100%;
    }
    .s-mt-8{
        margin-top: 8px;
    }
    .s-mt-16 {
        margin-top: 16px;
    }
    #header {
        overflow: hidden;
    }
    #header .menu-btn {
        display: block;
        position: absolute;
        top: 0;
        right: 0 ;
    }
    #header .search-btn {
        display: none;
    }
    #nav {
        display: block;
    }
    #nav > li {
        display: block;
    }
    #nav > li:first-child {
        display: inline-block;
    }
    #nav .subnav {
        position: initial;
        width: 100%;
        background-color: #333;
        padding: 5px 41px;
    }
    #nav .subnav a {
        color: #fff;
        font-size: 15px;
    }
    #slider .text-content{
        display: none;
    }
    #content .member-item{
        margin-top: 30px;
        width: 100%;
    }
    #content .member-img {
        width: 60%;
    }
    #footer .socials-list a {
        margin: 0 8px;
    }
    #footer .copyright {
        padding: 12px;
        display: block;
    }
    .contact-form {
        line-height: 2;
        margin-top: 32px;
    }
}
